// CARDS
.portfolio-text{
    padding: 1rem;
    text-align: center;
    font-weight: 900;  
}

.card-title{
    background-color: $color-secundary;
    color: $color-gray;
    padding: .8rem;
    width: 8rem;
    border-radius: .3rem;
}

.card-text{
    color:$color-terc;
}

.card-body{
    display: none;
}


